{% extends "baseJqt.html" %}

{% block rest_body %}
    <!-- "Page 1" -->
    <div id="list">
        <div class="toolbar">
	    <h1>My Friends Tags</h1>
	    <!-- handle fb-login -->
                {% if user %}
		     <a id="linker" href='/#' onclick="return FB.logout( function(response) { window.location='/' });">登出</a>
                {% else %}
		     <a id="linker" href='/#' onclick="return FBlogin();">LOGIN</a>
                {% endif %}
 
	</div>
        <ul class="rounded">
            <li> My Friends</li>
	    <li>
	        <a href="#friend">Go to view 2
	          <br>
		TEst</a>
	    </li>
        </ul>
    </div>
    <!-- "Page 2" - Will contain the tweets found -->
    <div id="friend">
        <div class="toolbar">
	    <h1>Results</h1>
            <a class="button back" href="#">Back</a>
        </div>
        <ul id="results_ul" class="rounded">
            <li>This is page 2</li>
        </ul>
    </div>


{% endblock %}
