<html>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <form id='form1' name='form1' action='{{postlink}}' method='post'>
    <br/>doctor:
    <br/><input type=text name="doctor" id="doctor" size=30 maxlength=30>
    <br/>dept:
    <br/><input type=text name="dept" id="dept" size=30 maxlength=30>
    <br/>time:
    <br/><input type=text name="time" id="time" size=30 maxlength=30>
    <br/>id:
    <br/><input type=text name="id" id="id" size=30 maxlength=30>
    <br/>first:
    <br/><input type=text name="first" id="first" size=30 maxlength=30>
    <br/>phone:
    <br/><input type=text name="phone" id="phone" size=30 maxlength=30>
    <br/><input type=submit value="確定送出">
    
    </form>

</html>
